body {
    /* Add any styles you need for the body here 
    margin: 0
    padding: 0;
    font-family: Arial, sans-serif;*/
  background-color: 
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%;
    overflow: hidden;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire circle */
}

.header {
    margin: 0;
}

h3 {
    margin: 0;
}

{background-color: transparent;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
    text-decoration: underline;
    color: #007bff;
}

  
.whatrwe{
    width:100%;
    color: purple;
    text-align: center;
    top: 50%;
    position: absolute;
}
.whatrwe h1{
    font-weight: 100;
    
}
.whatrwe p{
    margin: 20px auto;
    font-family: Arial,Helvetica,sans-serif;
}
button {
  background: transparent;
  font-weight: bold;
}
