body {
  /* Add any styles you need for the body here 
    margin: 0
    padding: 0;
    font-family: Arial, sans-serif;*/
  background-color: #e6d7ff;
}

.back {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0, 0.75), rgba(0,0,0,0.75));
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d3baff; /*placeholder*/
  margin-top
  padding: 10px;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  border-radius: 50%;
  overflow: hidden;
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire circle */
}

.header {
  margin: 0;
}

h3 {
  margin: 0;
}

.button-styled {
  display: flex;
  gap: 20px;
}

.button-styled button {
  background: none;
  border: 2px solid transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: #000042; /*placeholder color*/
}

.button-styled button:hover {
  color: #0080ff; /* Hover color */
}

/*.button-styled button h3 {
    margin: 0; /* Remove default margin for h3 */

.whatrwe {
  width: 100%;
  color: purple;
  text-align: center;
  top: 50%;
  position: absolute;
}
.whatrwe h1 {
  font-weight: 100;
}
.whatrwe p {
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
}
/*button {
  background: transparent;
  font-weight: bold;
}
*/
