body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://cdn.glitch.global/adb0cdc2-f055-4341-bcea-b73f0c6f6ae6/_8e638ed9-9a67-4642-8388-5b4cfabb6796.jpg?v=1721008035077);
  background-size: cover;
  background-position: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97%;
  padding: 10px 35px;
  background-color: rgba(172, 189, 232, 0.75); /* semi-transparent background */
  z-index: 10;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.icon img {
    width: 100%; 
    height: auto;
    object-fit: cover; 
}

.header {
  margin: 0;
}

h3 {
  margin: 0;
}

.team-member {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-align: left;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 20px;
}

.team-member div {
  text-align: left;
}

.team-member h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.team-member p {
  margin: 0;
}

.button-styled {
  display: flex;
  gap: 20px;
}

.button-styled button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: #466799;
}

.button-styled button:hover {
  color: #283d73; /* Hover color */
}

.whatrwe {
  margin-top: 50px; /* Adjust as needed to prevent overlap with header */
  width: 80%;
  max-width: 1000px;
  padding: 20px 50px;
  background-color: rgba(172, 189, 232, 0.75); /* semi-transparent background */
  text-align: center;
}

.whatrwe h2 {
  font-weight: 100;
  margin-bottom: 20px;
}

.whatrwe p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0;
}
